#main-content
  #news-posts
    .news-post
      .post-title
        %h1=@schedule.title
      #showings
        - @schedule.events.each do |showing|
          .showing-row
            .showing-thumb{ :style => "background-image: url('#{showing.event_image}'); background-size: cover; background-position: center;", :title => "#{showing.title}" }
              .showing-details.pull-left
                .showing-wrapper
                  %h3= "#{showing.event_date.strftime("%b %d")} @ #{showing.event_location}"
                  %h1= showing.title
              .showing-hacks
    .news-post  
      #weeklies.clearfix
        .post-title
          %h1 Weeklies
        .weekly-row
          .showing-row#weekly-one-thumb.weekly-item{ :style => "background-image: url('#{@schedule.weekly_one_image}'); background-size: cover; background-position: center;", :title => "#{@schedule.weekly_one}" }
            .showing-details.pull-left
              %h2.title= @schedule.weekly_one
            .showing-hacks
          .showing-row#weekly-two-thumb.weekly-item{ :style => "background-image: url('#{@schedule.weekly_two_image}'); background-size: cover; background-position: center;", :title => "#{@schedule.weekly_two}"  }
            .showing-details.pull-left
              %h2.title= @schedule.weekly_two
            .showing-hacks
    -if !@schedule_archive.blank?
      .news-post
        #schedule-archive.clearfix
          .post-title
            %h1 Schedule Archive
          .archives
            %ul
              - @schedule_archive.each do |archive|
                %li= link_to archive.title, archive



  =render "pages/events"