#news-block
  #announcement{ :style => "background-image: url('#{@event.event_image.url}')"}
    .announcement-content
      .announcement-content-wrapper
        .announcement-details
          These are things we need!
        .announcement-title
          more things we need!
  .events
    #showing.event-block{ :style => "background-image: url('#{@event.event_image_thin.url}')" }
      .event-content
        .event-type
          %h2 NEXT SHOWING
        .event-content-wrapper
          .event-details
            = "#{@event.event_start_time.strftime('%l:%M %p')}-#{@event.event_end_time.strftime('%l:%M %p')} @ #{@event.event_location}"
          .event-title
            %h1= @event.title
    #manga-social.event-block{ :style => "background-image: url('#{@event.event_image_thin.url}')" }
      .event-content
        .event-content-wrapper
          .event-details
            = "#{@event.event_start_time.strftime('%l:%M %p')}-#{@event.event_end_time.strftime('%l:%M %p')} @ #{@event.event_location}"
          .event-title
            %h1= @event.title
    #game-night.event-block{ :style => "background-image: url('#{@event.event_image_thin.url}')" }
      .event-content
        .event-content-wrapper
          .event-details
            = "#{@event.event_start_time.strftime('%l:%M %p')}-#{@event.event_end_time.strftime('%l:%M %p')} @ #{@event.event_location}"
          .event-title
            %h1= @event.title