#news-block.clearfix
  #announcement-carousel{ :class => "carousel slide", :data => {'ride' => "carousel"}}
    %ol{ :class => "carousel-indicators"}
      %li{ :data => {'target' => '#announcement-carousel','slide-to' => "0"}, :class => "active" }
      %li{ :data => {'target' => '#announcement-carousel','slide-to' => "1" }}
      %li{ :data => {'target' => '#announcement-carousel','slide-to' => "2" }}
    .carousel-inner
      .item.active
        %a{:href => "#{@site.carousel_one_href}"}
          #announcement{ :style => "background-image: url('#{@site.default_carousel_one_image.url}')", :title => "#{@site.carousel_one_title}"}
      .item
        %a{:href => "#{@site.carousel_two_href}"}
          #announcement{ :style => "background-image: url('#{@site.default_carousel_two_image.url}');", :title => "#{@site.carousel_two_title}"}
      .item
        %a{:href => "#{@site.carousel_three_href}"}
          #announcement{ :style => "background-image: url('#{@site.default_carousel_three_image.url}')", :title => "#{@site.carousel_three_title}"}
    %a{:class => "left carousel-control", :href => "#announcement-carousel", :data => {'slide' => "prev"}}
      %span{:class => "glyphicon glyphicon-chevron-left"}
    %a{:class => "right carousel-control", :href => "#announcement-carousel", :data => {'slide' => "next"}}
      %span{:class => "glyphicon glyphicon-chevron-right"} 

  = render "events"
#main-content.clearfix
  #news-posts
    - @posts.each do |post|
      .news-post
        .post-title
          %h2=post.title
        .post-details
          -if post.author.empty?
            - post_author = "Anonymous"
          -else
            - post_author = post.author
          = "Posted on #{post.publish_date.strftime('%^a %m/%d/%y')} by #{post_author }"
        .post-text
          =post.text.html_safe
  .events#future-events
    - @upcoming_events.each do |event|
      .event-block[event]{ :style => "background-image: url('#{event.event_image.url}'); background-size: cover; background-position: center;" }
        .event-content
          .event-details-top
            .event-type
              -if event.event_type == 'showing'
                %h4 FUTURE SHOWING:
              -elsif event.event_type == 'mangasocial'
                %h4 FUTURE MANGA SOCIAL:
              -elsif event.event_type == 'gamenight'
                %h4 FUTURE GAME NIGHT:
            .event-date
              %h5= "#{event.event_date.strftime('%^a %m/%d/%y')}"
          .event-content-wrapper
            .event-details
              %h5= "#{event.event_start_time.strftime('%l:%M %p')}-#{event.event_end_time.strftime('%l:%M %p')} @ #{event.event_location}"
            .event-title
              %h3= event.title
